body
{
    height:100vh;
    background-color: black;
}

.field
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:85vh;
    width:500px;
    margin-left:130px ;
}

p
{
font-size:40px;
color:white;
width:350px;
}

.span
{
color:lightgreen;
text-decoration: underline;
font-size:43px ;
}


button
{
    background-color: green;
padding:40px;
width:250px;
}


.kill
{
cursor: pointer;
height:10px
}

input
{
    border:1px solid green
}

.copied
{
    cursor: pointer;
}